
        <body >
            <main class="main-content"><div name="pageNotFound">
              <div class="container">
                  <div class="row">
                      <div class="col-md-8 col-sm-12 order-2 order-sm-0 d-flex align-items-center justify-content-center">
                          <div class="text-md-end text-center">
                              <h1> ERROR 404! </h1>
                              <h2> Sorry, page couldn't found... </h2>
                              <a href="#"> Back home </a>
                          </div>
                      </div>
                      <div class="col-md-4 col-sm-12 error-img order-1 text-md-start text-center">
                        <img src="../FNP.png"></img>
                      </div>
                  </div>
              </div>
            </div></main>
        </body>
      
        