
        <body >
            <main class="main-content"><div ez-mall-type="cart" id="i7ts8"><h2 id="i8wng" class="container">ShopCart</h2><h2 id="iymwl" class="container">
                            <hr> 
                            <div  class=" flex-column justify-content-center align-items-center" id="ezMall-cart-zero-item" style = "display:none; height:70vh">
                                <h3>
                                    Bạn đang không có sản phẩm nào>
                                </h3>
                                <button class = "btn btn-lg btn-primary mt-2"> 
                                    Shopping now
                                </button>
                            </div>
                            <table class="tableRoot ezMallCart">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width: 60%">
                                            <div class="form-check">
                                                <div class="row">
                                                    <div class="col-auto d-flex align-items-center">
                                                        <input id="cart-select-all-product" class="form-check-input" type="checkbox" value="">
                                                    </div>
                                                    Products
                                                </div>
                                            </div>
                                        </th>
                                        <th scope="col">
                                            <div class="d-flex align-items-center justify-content-center">Price</div>
                                        </th>
                                        <th scope="col">
                                            <div class="d-flex align-items-center justify-content-center">Quantity</div>
                                        </th>
                                        <th scope="col">
                                            <div class="d-flex align-items-center justify-content-center">Sum</div>
                                        </th>
                                        <th scope="col">
                                            <div class="d-flex justify-content-center align-items-center" style="">
                                                <a type="button" class="ezMall-head-remove-all-items btn fa fa-trash  text-danger" data-toggle="button"
                                                    aria-pressed="false" autocomplete="off">
                                                </a>
                                            </div>
                                        </th>
                                    </tr>   
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>
            
                            <div class="ezMallSumary row px-2 py-3" style="font-size: 16px; font-family: "Segoe UI";">
                                <div class="col-4 font-weight-bold d-flex align-items-center ">
                                    <a class = "btn " id = "ezMall-cart-sumary-unchecked-all">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                        <span style = "font-weight: bold"> 
                                            Uncheck All
                                        </span>
                                    </a>
                                </div>
                                <div class="col-4 d-flex align-items-center font-weight-bold  justify-content-center">
                                    Total Cost: 
                                    <span class="ezMallSumary-total-cost px-2"> 0</span>
                                    <div class= "ezMall-item-price-type">
                                        VND
                                    </div>
                                </div>
                                <div class="col-4  d-flex align-items-center justify-content-end ">
                                    <button type="button" class="btn btn-warning btn-lg text-light font-weight-bold" onClick=payMent()>Payment</button>
                                </div>
                            </div>
                            <hr>
                            </h2></div></main>
        </body>
      
        