
        <body >
            <main class="main-content"><div class="container" name="slideshowGallery" slideIndex="1"><h2>Slideshow Gallery</h2><div class="container-fluid"><div class="mySlides"><img src="https://dummyimage.com/600x400/55595c/fff"/></div><a class="prev">❮</a><a class="next">❯</a><div class="row"><div class="column"><img class="option-image cursor active" src="https://dummyimage.com/600x400/55595c/fff"/></div><div class="column"><img class="option-image cursor" src="https://dummyimage.com/601x400/55595c/fff"/></div><div class="column"><img src="https://dummyimage.com/604x400/55595c/fff" class="option-image cursor"/></div><div class="column"><img src="https://dummyimage.com/605x400/55595c/fff" class="option-image cursor"/></div><div class="column"><img src="https://ezmall-bucket.s3.ap-southeast-1.amazonaws.com/assets/5604d4ee-7b22-4a10-86c4-1fcddd413325.jpeg" class="option-image cursor"/></div><div class="column d-none"><img src="https://ezmall-bucket.s3.ap-southeast-1.amazonaws.com/assets/5604d4ee-7b22-4a10-86c4-1fcddd413325.jpeg" class="option-image cursor"/></div></div></div><script>
          $(document).find('[name="slideshowGallery"]').each(function() {
            const curSlide = $(this).find('.mySlides img');
            const optionImage = $(this).find('img.option-image');
            const prevBtn= $(this).find('a.prev');
            const nextBtn = $(this).find('a.next');
    
            optionImage.on("click", function() {
                optionImage.each(function() { $(this).removeClass('active'); })
                $(this).addClass('active');
                $(curSlide).attr('src', $(this).attr('src'))
            })
    
            prevBtn.on("click", () => {
                const active = $(this).find('img.option-image.active')
                const index = $(active).parent().closest('div').index() - 1;
                if (index > -1 && index < optionImage.length) { 
                    $(active).removeClass('active');
                    $(optionImage[index]).addClass('active');
    
                    $(curSlide).attr('src', $(optionImage[index]).attr('src'))
                }
            })
    
            nextBtn.on("click", () => {
                const active = $(this).find('img.option-image.active')
                const index = $(active).parent().closest('div').index() + 1;
                
                if (index > -1 && index < optionImage.length) { 
                    $(active).removeClass('active');
                    $(optionImage[index]).addClass('active');
    
                    $(curSlide).attr('src', $(optionImage[index]).attr('src'))
                }
            })
    
            nextBtn.on("click", function() {
    
            })
        });</script></div></main>
        </body>
      
        