<footer theme="white" name="footer" class="footer-section"><hr/><div class="row footer-navigation"><div menu-collection="9e0ff97a-9211-4035-883f-0d66375e5d4d" class="col-md"><h5>Quick links</h5><ul class="quicklinks-menu"><li><a href="https://www.youtube.com/">Search</a></li><li><a href="https://www.youtube.com/">Tern of service</a></li><li><a href="https://www.youtube.com/">Refund policy</a></li></ul></div><div class="col-md"><h5>Heading</h5><p>Share your store detail, promotion or brand contents with your customers.</p></div></div><hr/><div class="text-center text-md-start pb-2">
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          </div></footer>