
        <body >
            <main class="main-content"><div class="" name="pageNotFound">
            <div class="container">
                <div class="row">
                    <div class="col-8 d-flex align-items-center justify-content-center">
                        <div>
                            <h1> ERROR 404! </h1>
                            <h2> Sorry, page couldn't found... </h2>
                            <a href="#"> Back home </a>
                        </div>
                    </div>
                    <div class="col error-img"  style="background: url('../FNP.png'); background-repeat: no-repeat; background-position: center">
                    </div>
                </div>
            </div>
          </div></main>
        </body>
      
        