
        <body >
            <main class="main-content"><div ez-mall-type="productDetail" class="ezMall-stick-slide py-2"><h2 id="i9kf1"></h2><div>
                    <div class="container bg-light">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p-0 pt-3">
                            <div style="width: 100%;" class="d-flex justify-content-center">
                                <img class="main-img img-thumbnail"
                                    src="https://ananas.vn/wp-content/uploads/stu_basas_A61015_3.jpg"
                                    style="width:100%; max-width: 640px;">
                            </div>
            
                            <div class="ezMall-stick-slide ">
                                <div class="">
                                    <img src="https://ananas.vn/wp-content/uploads/stu_basas_A61015_3.jpg" class="rounded px-1"
                                        alt="..." style="width:100%">
                                </div>
                                <div class="">
                                    <img src="https://ananas.vn/wp-content/uploads/stu_basas_A61015_3.jpg" class="rounded px-1"
                                        alt="..." style="width:100%">
                                </div>
                                <div class="">
                                    <img src="https://ananas.vn/wp-content/uploads/stu_basas_A61015_3.jpg" class="rounded px-1"
                                        alt="..." style="width:100%">
                                </div>
                                <div class="">
                                    <img src="https://ananas.vn/wp-content/uploads/stu_basas_A61015_3.jpg" class="rounded px-1"
                                        alt="..." style="width:100%">
                                </div>
                                <div class="">
                                    <img src="https://ananas.vn/wp-content/uploads/stu_basas_A61015_3.jpg" class="rounded px-1"
                                        alt="..." style="width:100%">
                                </div>
                                <div class="">
                                    <img src="https://ananas.vn/wp-content/uploads/stu_basas_A61015_3.jpg" class="rounded px-1"
                                        alt="..." style="width:100%">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pt-3">
                            <div class="row ezMall-header text px-3">
                                <h3 class="fw-bold">
                                    BASAS NEW FAMILIAR - LOW TOP - LIGHT GREY
                                </h3>
                            </div>
                            <div class="d-flex ezMall-product-status justify-content-between px-3">
                                <div class="d-flex">
                                    <div class="fw-bold">Mã sản phẩm:</div>
                                    <div class="px-2">A61015</div>
                                </div>
                                <div class="d-flex">
                                    <div class="fw-bold">Tình trạng:</div>
                                    <div class="px-2">Online</div>
                                </div>
                            </div>
            
                            <div class="row ezMall-price px-3 py-3">
                                <h4 class="fw-bolder" style="color: #f15e2c;">
                                    420.000VND
                                </h4>
                            </div>
            
                            <div class="ezMall-description  px-3">
                                Mang ý nghĩa là một “người bạn thân” có thể đồng hành cùng bạn trên khắp các nẻo đường,“The
                                Familiar”
                                không mang đến những sản phẩm cầu kì phức tạp hay đủ phá cách để bạn phấn khích và mang khoe nó với
                                nhiều người. Nó chỉ đơn giản là mang đến cho bạn một sự lựa chọn an toàn, đa-zi-năng cho một ngày
                                học
                                tập, làm việc, vui chơi bình dị.
                            </div>
            
                            <div class="ezMall-variant-option-1 d-flex px-3 pt-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="variant" id="flexRadioDefault1">
                                    <label class="bg-primary mx-1 form-check" style="width: 30px; height: 30px;"
                                        for="flexRadioDefault1">
                                    </label>
                                </div>
                                <div class="form-check px-5">
                                    <input class="form-check-input" type="radio" name="variant" id="flexRadioDefault2">
                                    <label class="bg-danger mx-1 form-check" style="width: 30px; height: 30px;"
                                        for="flexRadioDefault2">
                                    </label>
                                </div>
                            </div>
            
                            <div class="ezMall-variant-option-2 d-flex justify-content-between px-3 pt-3">
            
                                <div class="fw-bold d-flex flex-column" style="width: 40%;">
                                    SIZE
                                    <div class="btn-group pt-2" style="min-width: 100%; width: 100%;">
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Size</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="fw-bold pt-2" style="width: 40%;">
                                    SỐ LƯỢNG
                                    <input type="number" min="0" id="val-1" class="form-control ezMall-item-quantity " value="2"
                                        style="min-width: 100%; width: 100%;">
                                </div>
                            </div>
            
                            <div class="px-3 py-3 pt-5">
                                <div class="btn btn-lg btn-dark fw-bold py-3 " style="width: 100%">
                                    THÊM VÀO GIỎ HÀNG
                                </div>
                            </div>
            
                            <div class="px-3 py-3">
                                <div class="btn btn-lg btn-danger fw-bold py-3" style="width: 100%">
                                    MUA HÀNG
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div></div></main>
        </body>
      
        